
*{
 margin: 0%;
 padding: 0%;


}



.header{
  width: 80vw;
  height: 20vh;
  background-color: white;
  display: flex;
  text-align: center;
  /*display: block;*/
  flex-direction: column; 
  align-items: center;
  position: sticky;
  top: 0%;
  left: 0%;
  
  
  
}
.logo{

    width: 154px;
    height: 60px;
    margin-bottom: 10%;
    margin-left: 5%;

}

li{

display: inline;


  
}


ul{
  
  list-style: none;
  font-family:'Rubik', sans-serif; 
  display: flex;
  column-gap: 10px;
  text-align: center;
  margin-top: 5%;
  align-items: center;
  
  
  
    
}  


@media screen and (min-width:480px){

     .header{

      display: flex;
      justify-content: space-between;
      flex-direction: row;
      


     }

    }
    @media screen and (min-width:800px){

      .header{
 
       display: flex;
       justify-content: space-between;
 
 
      }
 
     }



main{
  width: 100vw;
  height: 70vh;
}

 .hero{
    width: 100vw;
    height: 70vh;
    background-image: url('../images/david-van-dijk-lampb.jpg');
    text-align: center;
    display: flex;
    align-content: center;
    background-size:100vw;
    background-position: center;
    
     
 }
 @media screen and (max-width:700px){

  .hero{
    background-repeat: no-repeat;
   
 }

 }



h1{
   width: 161px;
   height: 108px;
   text-align: left;
   font-family:'Rubik', sans-serif ;
   font-size: 30px;
   color: white;
   font-weight: 1000px;
   margin-top: 10%;
   margin-left: 10%;

}



footer{
   width: 100vw;
   height: 20vh;
   text-align: center;
   background-color: #676a6d;
   display: flex;
   justify-content: center;
   position: fixed;
   bottom: 0;
   left: 0;

   

}




div{
  font-family:'Rubik', sans-serif ;
  /*border: 3px solid black;*/
  height: 19px;
  margin-top: 34px;
 

  
}
